In [1]:
#importing files
import numpy as np
import pandas as pd

In [2]:
#dataset
data = pd.read_csv('bank.csv')

In [3]:
data.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,59,admin.,married,secondary,no,2343,yes,no,unknown,5,may,1042,1,-1,0,unknown,yes
1,56,admin.,married,secondary,no,45,no,no,unknown,5,may,1467,1,-1,0,unknown,yes
2,41,technician,married,secondary,no,1270,yes,no,unknown,5,may,1389,1,-1,0,unknown,yes
3,55,services,married,secondary,no,2476,yes,no,unknown,5,may,579,1,-1,0,unknown,yes
4,54,admin.,married,tertiary,no,184,no,no,unknown,5,may,673,2,-1,0,unknown,yes

In [4]:
data.shape

(11162, 17)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11162 entries, 0 to 11161
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        11162 non-null  int64
 1   job        11162 non-null  object
 2   marital    11162 non-null  object
 3   education  11162 non-null  object
 4   default    11162 non-null  object
 5   balance    11162 non-null  int64
 6   housing    11162 non-null  object
 7   loan       11162 non-null  object
 8   contact    11162 non-null  object
 9   day        11162 non-null  int64
 10  month      11162 non-null  object
 11  duration   11162 non-null  int64
 12  campaign   11162 non-null  int64
 13  pdays      11162 non-null  int64
 14  previous   11162 non-null  int64
 15  poutcome   11162 non-null  object
 16  deposit    11162 non-null  object
dtypes: int64(7), object(10)
memory usage: 1.4+ MB

In [6]:
data.describe()

,age,balance,day,duration,campaign,pdays,previous
count,11162.000000,11162.000000,11162.000000,11162.000000,11162.000000,11162.000000,11162.000000
mean,41.231948,1528.538524,15.658036,371.993818,2.508421,51.330407,0.832557
std,11.913369,3225.413326,8.420740,347.128386,2.722077,108.758282,2.292007
min,18.000000,-6847.000000,1.000000,2.000000,1.000000,-1.000000,0.000000
25%,32.000000,122.000000,8.000000,138.000000,1.000000,-1.000000,0.000000
50%,39.000000,550.000000,15.000000,255.000000,2.000000,-1.000000,0.000000
75%,49.000000,1708.000000,22.000000,496.000000,3.000000,20.750000,1.000000
max,95.000000,81204.000000,31.000000,3881.000000,63.000000,854.000000,58.000000

In [7]:
data.isnull().sum()

age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
deposit      0
dtype: int64

In [8]:
print('Unique job:')
print(data['job'].unique())

print('Unique marital:')
print(data['marital'].unique())

print('Unique education:')
print(data['education'].unique())

print('Unique default:')
print(data['default'].unique())

print('Unique housing:')
print(data['housing'].unique())

print('Unique loan:')
print(data['loan'].unique())


print('Unique contact:')
print(data['contact'].unique())


print('Unique month:')
print(data['month'].unique())


print('Unique poutcome:')
print(data['poutcome'].unique())


print('Unique deposit:')
print(data['deposit'].unique())

Unique job:
['admin.' 'technician' 'services' 'management' 'retired' 'blue-collar'
 'unemployed' 'entrepreneur' 'housemaid' 'unknown' 'self-employed'
 'student']
Unique marital:
['married' 'single' 'divorced']
Unique education:
['secondary' 'tertiary' 'primary' 'unknown']
Unique default:
['no' 'yes']
Unique housing:
['yes' 'no']
Unique loan:
['no' 'yes']
Unique contact:
['unknown' 'cellular' 'telephone']
Unique month:
['may' 'jun' 'jul' 'aug' 'oct' 'nov' 'dec' 'jan' 'feb' 'mar' 'apr' 'sep']
Unique poutcome:
['unknown' 'other' 'failure' 'success']
Unique deposit:
['yes' 'no']

In [9]:
data.columns

Index(['age', 'job', 'marital', 'education', 'default', 'balance', 'housing',
       'loan', 'contact', 'day', 'month', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'deposit'],
      dtype='object')

In [10]:
#Renaming the column name 'poutcome' to 'outcome'

data.rename(columns = {'poutcome':'outcome'}, inplace=True)

In [11]:
data.columns

Index(['age', 'job', 'marital', 'education', 'default', 'balance', 'housing',
       'loan', 'contact', 'day', 'month', 'duration', 'campaign', 'pdays',
       'previous', 'outcome', 'deposit'],
      dtype='object')

In [12]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

In [13]:
# create list of numric and categorical column
num_cols=[]
cat_cols=[]
for i in data.columns:
    if data[i].dtype=='int64':
        num_cols.append(i)
    elif data[i].dtype=='object':
        cat_cols.append(i)


print("NUMERIC COLS:{0}".format(num_cols))
print("CATEGORICAL COLS:{0}".format(cat_cols))

NUMERIC COLS:['age', 'balance', 'day', 'duration', 'campaign', 'pdays', 'previous']
CATEGORICAL COLS:['job', 'marital', 'education', 'default', 'housing', 'loan', 'contact', 'month', 'outcome', 'deposit']

In [14]:
#here pop function is used so that deposit column is not label encoded
cat_cols.pop()
for features in cat_cols:
  data[features]= le.fit_transform(data[features])

In [15]:
data

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,outcome,deposit
0,59,0,1,1,0,2343,1,0,2,5,8,1042,1,-1,0,3,yes
1,56,0,1,1,0,45,0,0,2,5,8,1467,1,-1,0,3,yes
2,41,9,1,1,0,1270,1,0,2,5,8,1389,1,-1,0,3,yes
3,55,7,1,1,0,2476,1,0,2,5,8,579,1,-1,0,3,yes
4,54,0,1,2,0,184,0,0,2,5,8,673,2,-1,0,3,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11157,33,1,2,0,0,1,1,0,0,20,0,257,1,-1,0,3,no
11158,39,7,1,1,0,733,0,0,2,16,6,83,4,-1,0,3,no
11159,32,9,2,1,0,29,0,0,0,19,1,156,2,-1,0,3,no
11160,43,9,1,1,0,0,0,1,0,8,8,9,2,172,5,0,no
11161,34,9,1,1,0,0,0,0,0,9,5,628,1,-1,0,3,no

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11162 entries, 0 to 11161
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        11162 non-null  int64
 1   job        11162 non-null  int64
 2   marital    11162 non-null  int64
 3   education  11162 non-null  int64
 4   default    11162 non-null  int64
 5   balance    11162 non-null  int64
 6   housing    11162 non-null  int64
 7   loan       11162 non-null  int64
 8   contact    11162 non-null  int64
 9   day        11162 non-null  int64
 10  month      11162 non-null  int64
 11  duration   11162 non-null  int64
 12  campaign   11162 non-null  int64
 13  pdays      11162 non-null  int64
 14  previous   11162 non-null  int64
 15  outcome    11162 non-null  int64
 16  deposit    11162 non-null  object
dtypes: int64(16), object(1)
memory usage: 1.4+ MB

In [17]:
x = data.iloc[:,:-1].values
y = data.iloc[:,-1].values

In [18]:
from sklearn.preprocessing import OneHotEncoder
one = OneHotEncoder()

In [19]:
x

array([[ 59,   0,   1, ...,  -1,   0,   3],
       [ 56,   0,   1, ...,  -1,   0,   3],
       [ 41,   9,   1, ...,  -1,   0,   3],
       ...,
       [ 32,   9,   2, ...,  -1,   0,   3],
       [ 43,   9,   1, ..., 172,   5,   0],
       [ 34,   9,   1, ...,  -1,   0,   3]])

In [20]:
#label encoding for columns with object dtype
j = one.fit_transform(x[:,1:2]).toarray()
ma = one.fit_transform(x[:,2:3]).toarray()
e = one.fit_transform(x[:,3:4]).toarray()
d = one.fit_transform(x[:,4:5]).toarray()
h = one.fit_transform(x[:,6:7]).toarray()
l = one.fit_transform(x[:,7:8]).toarray()
c = one.fit_transform(x[:,8:9]).toarray()
mo = one.fit_transform(x[:,10:11]).toarray()
o = one.fit_transform(x[:,15:16]).toarray()

In [21]:
print(j.shape)
print(ma.shape)
print(e.shape)
print(d.shape)
print(h.shape)
print(l.shape)
print(c.shape)
print(mo.shape)
print(o.shape)

(11162, 12)
(11162, 3)
(11162, 4)
(11162, 2)
(11162, 2)
(11162, 2)
(11162, 3)
(11162, 12)
(11162, 4)

In [22]:
x.shape

(11162, 16)

In [23]:
x = np.delete(x, [1,2,3,4,6,7,8,10,15], axis=1)

In [24]:
x.shape

(11162, 7)

In [25]:
x = np.concatenate((j,ma,e,d,h,l,c,mo,o,x), axis=1)

In [26]:
x.shape

(11162, 51)

In [27]:
x

array([[  1.,   0.,   0., ...,   1.,  -1.,   0.],
       [  1.,   0.,   0., ...,   1.,  -1.,   0.],
       [  0.,   0.,   0., ...,   1.,  -1.,   0.],
       ...,
       [  0.,   0.,   0., ...,   2.,  -1.,   0.],
       [  0.,   0.,   0., ...,   2., 172.,   5.],
       [  0.,   0.,   0., ...,   1.,  -1.,   0.]])

In [28]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(x,y, test_size=0.2, random_state=0)

In [29]:
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()

In [30]:
X_train = sc.fit_transform(X_train)
X_test = sc.fit_transform(X_test)

In [31]:
print(X_train.shape)
print(X_test.shape)

(8929, 51)
(2233, 51)

In [32]:
print(y_train.shape)
print(y_test.shape)

(8929,)
(2233,)